[user]
  name = Juan Pablo Ortiz
  email = me@pablasso.com
[core]
  excludesfile = /Users/pablasso/.gitignore_global
  editor = nvim
[color]
  ui = true
[github]
  user = pablasso
[push]
  default = simple
[credential]
  helper = osxkeychain
