[submodule "janus/ag.vim"]
	path = janus/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "janus/emmet-vim"]
	path = janus/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "janus/vim-surround"]
	path = janus/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "janus/emmet"]
	path = janus/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "janus/ag"]
	path = janus/ag
	url = git@github.com:rking/ag.vim.git
[submodule "janus/vim-sorround"]
	path = janus/vim-sorround
	url = git@github.com:tpope/vim-surround.git
[submodule "janus/ack"]
	path = janus/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "janus/vim-startify"]
	path = janus/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "private-dotfiles"]
	path = private-dotfiles
	url = git@bitbucket.org:pablasso/private-dotfiles.git
