[user]
  name = Juan Pablo Ortiz
  email = me@pablasso.com
  signingkey = 12C610E2
[core]
  excludesfile = /Users/pablasso/.gitignore_global
  editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = true
[github]
  user = pablasso
[push]
  default = simple
[credential]
  helper = osxkeychain
[commit]
  gpgsign = true
